@charset "UTF-8";
h4, h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F79C44;
}
h3 {
	font-size: 18px;	
}
h2 {
	margin-top: 0px; !important;
	margin-bottom: 0px; !important;
	color: #F79C44; !important;
}
li {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
	text-align: justify;
}
a:link {
	font-weight: bolder; 
}
a:hover {
	font-weight: bolder; 
}
a:visited {
	font-weight: bolder; 
}
p.lead {
	margin-bottom: 5px; !important;
	color: #4789AA; !important;
}
